@charset "utf-8";

/**
 * @brief   reset css 
 * @author  hechangmin@gmail.com
 * @date    2010.5
 */

/* 灰色开关 - 追悼日专用 */
/*html{filter:progid:DXImageTranorm.Microsoft.BasicImage(grayscale=1);}*/

/* *{font:12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}*/

body,div,table,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;padding:0;font: normal 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
li{list-style:none;}
caption,th{text-align:left;}
/*a:lvha*/